<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue.js learning</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="vue-app">
            <h1>{{ greet('afternoon') }}</h1>
            <a v-bind:href="website">Personal Website 1</a>
            <p v-html="websiteTag"></p>
            <p>Name: {{ name }}</p>
            <p>Job: {{ job }}</p>
            <hr>

            <button v-on:click="add(1)">Add a Year</button>
            <button v-on:click="subtract(1)">Subtract a Year</button>
            <button v-on:dblclick.once="add(10)">Add 10 Years</button>
            <button v-on:dblclick="subtract(10)">Subtract 10 Years</button>
            <p>My age is {{ age }}!</p>
            <hr>

            <div id="canvas" v-on:mousemove="updateXY">{{ x }},{{ y }}</div>
            <a v-on:click.prevent='click' href="http://codrut.rocks"> Codrut Tapu</a>
            <hr>

            <h1>Keyboard Events</h1>
            <label for="name">Name:</label>
            <input type="text" name="name" value="" v-on:keyup.enter="logName" v-model="formName">
            <span>{{ formName }}</span>
            <label for="age">Age:</label>
            <input type="text" name="age" value="" v-on:keyup="logAge" v-model="formAge">
            <span>{{ formAge }}</span>
            <hr>

            <h1>Computed Properties</h1>
            <button v-on:click="a++">Add to A</button>
            <button v-on:click="b++">Add to B</button>
            <p>A - {{ a }}</p>
            <p>B - {{ b }}</p>
            <p>Age + A = {{ addToA }}</p>
            <p>Age + B = {{ addToB }}</p>
            <hr>

            <h1>Dynamic CSS</h1>
            <h2>Example 1</h2>
            <div v-on:click="available = !available" v-bind:class="{available: available}">
                <span>Codrut</span>
            </div>
            <h2>Example 2</h2>
            <button v-on:click="nearby = !nearby">Toggle nearby</button>
            <button v-on:click="available = !available">Toggle available</button>
            <div v-bind:class="compClasses">
                <span>Vasile</span>
            </div>
            <hr>

            <h1>Conditionals</h1>
            <button v-on:click="error = !error">Toggle Error</button>
            <button v-on:click="sucess = !sucess">Toggle Sucess</button>
            <p v-if="error">There has been an error!</p>
            <p v-else-if="sucess">Yayyyy sucess!</p>
            <!-- v-show="error" v-show="error" - it doesn't remove elment from DOM, it puts display: none-->
            <hr>

            <h1>Looping</h1>
            <ul>
                <li v-for="c in characters">{{ c }}</li>
            </ul>
            <table border="1">
                <thead>
                    <th>Nr.</th>
                    <th>Name</th>
                    <th>Age</th>
                </thead>
                <tbody>
                    <tr v-for="(n,index) in ninjas">
                        <td>{{ index + 1 }}</td>
                        <td>{{ n.name }}</td>
                        <td>{{ n.age }}</td>
                    </tr>
                </tbody>
            </table>
            <hr>

        </div>
        <script src="app.js"></script>
    </body>
</html>
